<form action="/invoices/<%= @invoice.id %>" method="post">
  <input type='hidden' name='_method' value='put'>
  <p>Edit</p>
    <div>Status</div>
    <select class="invoice-status-select text-box" name="invoice[status]">
      <option value="pending">pending</option>
      <option value="shipped">shipped</option>
      <option value="returned">returned</option>
    </select>
  </div>
    <div class="button-box">
      <a href="/invoices/<%= @invoice.id %>"><button class="cancel">Cancel</button></a>
      <input type="submit" value="Update Invoice" class="button">
    </div>
</form>
