<h1 id='Invoices'>Invoice: <%= @invoice.id %> - <%= @invoice.status %></h1>

  <form action="/invoices/<%= @invoice.id %>/edit" method="GET">
    <!-- <input type='hidden' name='_method' value='delete'> -->
    <button type='submit'>Delete</button>-->
    <button type="submit">Edit</button>
  </form>
