<div>
  <h1>Merchants</h1>
  <button type='button' name='New Merchant'>Create New Merchant</button>
</div>
<div>
  <% @merchants.each do |merchant|%>
    <p><%= merchant.name %></p>
  <% end %>
</div>
