<form class='new-merchant' action='/merchants' method='POST'>
  <h4>Enter Name of New Merchant:</h4>
  <input type='text' name='merchant[name]'>
  <input type='submit' value="Submit">
  <a href='/merchants'>Cancel</a>
</form>
