<div>
  <h3>Items</h3>
  <a href='/items/new'>Create New Item</a>
</div>
<div>
  <% @items.each do |item| %>
    <h4> <%= item.title %> </h4>
    <h5>Price: <%= number_to_currency(item.price) %> </h5>
  <% end %>
</div>
