<h1 class='title'>Items</h1>

<a class='create_new' href='/items/new'>Create New Item</a>
<a class='dashboard' href='/items-dashboard'>Dashboard</a>

<div>
  <% @items.each do |item| %>
    <h4>
      <a href="/items/<%= item.id %>"><%= item.title %></a>
    </h4>
    <img src="/widget_1.jpg">
    <h5>Price: <%= number_to_currency(item.unit_price) %> </h5>
  <% end %>
</div>
