<form action='/items' method='POST'>
  <h4>Enter title of new item:</h4>
  <input type='text' name='item[title]'>
  <h4>Enter the description:</h4>
  <input type='text' name='item[description]'>
  <h4>Enter the price:</h4>
  <input type='text' name='item[price]'>
  <input type='submit' value='Submit'>
  <a href='/items'>Cancel</a>
</form>
