<h1>Invoice Dashboard</h1>

<div>
  <h3>Staus Percentages:</h3>
    <ul>
      <li>Pending: <%= @percent_pending.round(2) %>%</li>
      <li>Shipped: <%= @percent_shipped.round(2) %>%</li>
      <li>Returned: <%= @percent_returned.round(2) %>%</li>
    </ul>
</div>
