<h2>Items Dashboard</h2>
<div>
  <h4 id='dashboard-field' class="dashboard-box">Total count of items: <%= @count  %></h4>
  <h4 id='dashboard-field' class="dashboard-box">Average price of all items: <%= number_to_currency(@avg_price) %></h4>
  <h4 id='dashboard-field' class="dashboard-box">Newest item: <%= @newest_item.title %></h4>
  <h4 id='dashboard-field' class="dashboard-box">Oldest item: <%= @oldest_item.title %></h4>
</div>
