<h1 class='dashboard-header'>Merchants Dashboard</h1>

<div class='dashboard-box'>
  <p>Merchant With Most Items:</p>

  <p>Merchant With Highest Price Item:</p>
</div>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>" class='index-boxes'>
    <p><label>Total Items:</label> <%= merchant.items.count %></p>
    <p><label>Average Item Price:</label> $<%= merchant.items.average_price.round(2) %></p>
  </div>
<% end %>
