<h1>Merchants Dashboard</h1>

<h3>Merchant With Most Items:</h3>

<h3>Merchant With Highest Price Item:</h3>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <label class='total-items'>Total Items: <%= merchant.items.count %>
  </div>
<% end %>
