<h1 class='dashboard-header'>Merchants Dashboard</h1>

<div class='dashboard-box'>
  <p>Merchant With Most Items:</p>

  <p>Merchant With Highest Price Item:</p>
</div>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>" class='index-boxes'>
    <label class='total-items'>Total Items: <%= merchant.items.count %>
  </div>
<% end %>
