<h1>Merchants Dashboard</h1>

<h3>Merchant With Most Items:</h3>

<h3>Merchant With Highest Price Item:</h3>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <h4><%= merchant.name %></h4>
    <p><label>Total Items:</label> <%= merchant.items.count %></p>
    <p><label>Average Item Price:</label> $<%= merchant.items.average_price.round(2) %></p>
  </div>
<% end %>
