<html>
  <head>
  </head>
  <body>
    <nav class='navbar'>Little Shop
      <ul class='navbar-nav mr-auto'>
        <li>Merchants</li>
        <li>Items</li>
        <li>Invoices</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
