<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Little Shop</title>
    <link rel="stylesheet" href="/reset.css" title="text/css" />
    <link rel="stylesheet" href="/main.css" title="text/css" />
  </head>
  <body>
    <nav class='navbar'>Little Shop
      <ul class='navbar-nav mr-auto'>
        <li>Merchants</li>
        <li>Items</li>
        <li>Invoices</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
